<!DOCTYPE html>
<html>
  <head>
    <title>An Open Letter to Governor Kasich</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  
  <body>
    <h1>An Open Letter to Governor Kasich</h1>
    
    <article id="letter">
      <h3 id="salutation">Dear Governor Kasich,</h3>
      <p>
        As you have so aptly stated yourself, our strength comes from pulling together. Right now the Republican field is divided. Donald Trump, a reckless liberal New York businessman masquerading as a political outsider is in the lead. If things don't change, Americans will have to choose between Donald Trump and Hillary Clinton in November. Either would be a disaster, and virtually all the polls, which hitherto have exaggerated Trump's true support, indicate Clinton will easily defeat him.
      </p>
      <p>
        You've stated yourself that you do not believe any of the candidates will be able to win the 1,237 delegates needed to take the nomination. While we certainly hope this is true, it remains quite likely that Donald Trump will win the nomination outright—and even if he does not, a strong delegate lead will put him at an instant advantage at the convention. His strategy is simple: divide and conquer. When we are divided, we are weak. When we are weak, we lose.
      </p>
      <p>
        Although relatively few states award delegates on a strictly winner-take-all basis, there are many that disproportionately award delegates to the winner. Thus, Donald Trump can easily take the nomination without getting even close to 51% of the vote. Right now the only candidate making a large dent in Trump's delegate count is Ted Cruz. He is not perfect, and he is, of course, not your first choice. But he is far, far, more qualified than either Clinton or Trump. And he is the only candidate with enough support to defeat Trump before we even think about taking on Clinton.
      </p>
      <p>
        We are, therefore, humbly and respectfully requesting that you withdraw from the current presidential race. We realize this is a lot to ask, and may very well be one of the most difficult decisions of your life. We are not asking you to give up. A campaign may end, but the American Dream lives on. The values we stand for, we will still fight for. We hope that you can see past the differences between you and Cruz, and recognize how much you have in common—especially when contrasted with Donald Trump.
      </p>
      <p>
        We do not doubt that you could defeat Clinton in November. But the opportunity may never come. This may be your only chance to mount a true victory—not a political victory for Governor Kasich, but a victory for government of the people, by the people, and for the people.
      </p>
      <p>
        Sincerely,
        </p>
        <p>
          We, the undersigned
        </p>
    </article>
    
    <h2>Signers</h2>
    <article id="names">
      <ul id="name_list">
      {{#each signatures}}
        <li><span class="name">{{name}}</span><span class="state">{{state}}</span></li>
      {{/each}}
      </ul>
      <div id="private-signers"><span id="privateText">...and <span id="privateCount">{{privateCount}}</span> more who signed privately.</span></div>
      <div id="show_more"><a href="javascript:void(expandNames());" class="waves-effect waves-light btn">Show more</a></div>
    </article>
    
    <h2>Sign the open letter</h2>
    <form id="sign" onsubmit="postForm()">
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="name" type="text" name="name" class="validate">
          <label for="name">First and last name (required)</label>
        </div>
        <div class="input-field col s12 m5">
          <select name="state" id="state">
            <option value="" disabled selected>State or territory (required)</option>
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
            <option value="DC">Washington DC</option>
            <option value="PR">Puerto Rico</option>
            <option value="VI">U.S. Virgin Islands</option>
            <option value="AS">American Samoa</option>
            <option value="GU">Guam</option>
            <option value="MP">Northern Mariana Islands</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m5">
          <input type="checkbox" class="filled-in" id="publicly" checked="checked">
          <label for="publicly">Show my name publicly</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="email" id="email" class="validate">
          <label for="email">Email address for updates (optional)</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m5" id="submit-button">
          <a class="waves-effect waves-light btn" href="javascript:postForm()">Sign the letter!</a>
        </div>
        <div class="col s12 m6">
          <div id="flash-message"></div>
        </div>
      </div>
    </form>
    
    <h2>Pass it on</h2>
    <div id="share">
      <p>The only way this letter can or will be spread is by concerned Americans who want capable leaders. There will be no advertising campaign—we're relying on you.
      </p>
      <p class="share">
        <a href="mailto:?&subject=An open letter to Governor Kasich&body=An%20open%20letter%20to%20Governor%20Kasich%0A%0Ahttps%3A//dearkasich.com" class="waves-effect waves-light btn share-by-email"><span class="icon small">m</span>Share by email</a>
      </p>
      
      <p class="share">
        <span class="share_alternate">...or share via social media
        <ul class="icon">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//dearkasich.com" id="facebook">f</a></li>
          <li><a href="https://twitter.com/home?status=https%3A//dearkasich.com" id="twitter">t</a></li>
          <li><a href="https://plus.google.com/share?url=https%3A//dearkasich.com" id="googleplus">g</a></li>
          <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//dearkasich.com&title=An%20open%20letter%20to%20Governor%20Kasich&summary=&source=" id="linkedin">l</a></li>
        </ul>
      </p>
    </div>
    
    <h2>Contact</h2>
    <div id="contact">
      <p>
        This website was created by Nathaniel Paulus.
      </p>
      <p>
        Send feedback to:
      </p>
      <p>
        <span class="icon small">m</span><a href="mailto:contact@dearkasich.com">contact@dearkasich.com</a>
      </p>
      <p>
        <span class="icon small">h</span><a href="https://github.com/Nateowami/Dear-Kasich">Project on GitHub</a>
      </p>
    </div>
    
    <script type="text/javascript">
      //alias
      var e = document.getElementById.bind(document);
      
      //script for managing the show more button
      document.addEventListener('DOMContentLoaded', function(){
        var names = e("names");
        if(names.clientHeight > 400) {
          e("show_more").style.display = "inline-block";
          //limit the height so there will be something to cut off
          names.style.height = "400px";
        }
        
        if(e('privateCount').innerText*1 < 1) e('private-signers').style.display = 'none';
      });
      
      function expandNames(){
        e('names').style.maxHeight = 'none';
        e('names').style.height = 'auto';
        e('show_more').style.display = 'none';
      }
      
      function postForm(){
        var f = e('sign');
        var data = {
          name: f.name.value,
          state: f.state.value,
          publicly: f.publicly.checked,
          email: f.email.value,
          referer: document.referrer
        }
        
        //validate name
        if(!data.name) $("#name").addClass("invalid").focus();
        else $("#name").removeClass("invalid").addClass("valid");
        if(!data.state) {
          $("#state").addClass("invalid");
          //don't focus state select if name needs focus
          if(data.name) $("input.select-dropdown").focus();
        }
        else $("#state").removeClass("invalid").addClass("valid");
        
        var msg = "";
        if(!data.name && !data.state) msg = "Please enter your name and state."
        else if(!data.name) msg = "Please enter your name.";
        else if(!data.state) msg = "Please select your state.";
        
        formFlash(msg);
        
        if(msg) return false;
        
        //submit with AJAX - courtesy of http://youmightnotneedjquery.com/ Copyright (c) 2014 HubSpot, Inc. - MIT license
        var req = new XMLHttpRequest();
        req.open('POST', '/sign', true);
        req.setRequestHeader('Content-Type', 'application/json');
        
        req.onload = function() {
          if (req.status >= 200 && req.status < 400) {
            handleResponse(req.responseText);
            logForm("success");
          } else {
            // We reached our target server, but it returned an error
            formFlash('A ' + req.status + ' server error occured.');
            logForm("error " + req.status);
          }
        };
        
        req.onerror = function() {
          formFlash("There was an error submitting the form.");
          logForm("network error");
        };

        req.send(JSON.stringify(data));
        
        //don't submit the normal way
        return false;
      }
      
      function handleResponse(data){
        data = JSON.parse(data);
        formFlash('Thank you! Your name has been successfully added' + (data.publicly ? '' : ' but will not be shown publicly') + '. Now share with your friends!');
        
        if(data.publicly){
          var c = document.createElement.bind(document);
          var li = c('li'), name = c('span'), state = c('span');
          name.textContent = data.name;
          state.textContent = data.state;
          li.style.display = "none";
          name.className = 'name';
          state.className = 'state';
          li.appendChild(name);
          li.appendChild(state);
          e('name_list').insertBefore(li, e('name_list').firstChild);
          $(li).fadeIn();
        }
        //not public
        else {
          var count = $("#privateCount").text();
          $("#privateCount").text(count*1+1);
          $("#private-signers").fadeIn();
        }
      }
      
      //flash message under form
      function formFlash(msg){
        $('#flash-message').text(msg).fadeIn();
      }
      
      //called when the form is submitted successfully or with errors
      function logForm(status){
        //do nothing if no analytics
        if(typeof ga == "undefined") return;
        ga('send', 'event', 'Form submission', status);
      }
    </script>
    
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>
    
    <script>
      $(document).ready(function() {
        $('select').material_select();
      });
    </script>
    
    {{#if analytics}}
    <script>
      //GA tracking code
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-75379345-1', 'auto');
      ga('send', 'pageview');

    </script>
    {{/if}}
    
  </body>
</html>
